#{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
 header{
 	width: 100%;
 	height: 60px;
 	background: black;
 }
 .contenedor-header{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;
 }
 .logo-unad{
 	display: flex;
 }
 .logo-unad img{
 	width: 300px;
 	height: 60px;
 	margin-top: 0px;
 	margin-left: 10px;
 }
 .logo-unad h4{
 	color: #fff;
 	font-weight: 100px;
 	margin-left: 10px;
 	margin-top: 20px;
 }
 .icon-facebook{
 	position: absolute;
 	right: 10px;
 	top: 20px;
    color: #fff;
 	font-size: 25px;
 }
  .icon-youtube{
    position: absolute;
    right: 35px;
    top: 20px;
    color: #fff;
    font-size: 25px;
 }
  .icon-instagram{
    position: absolute;
    right: 70px;
    top: 20px;
    color: #fff;
    font-size: 25px;
 }
   .icon-twitter{
    position: absolute;
    right: 112px;
    top: 20px;
    color: #fff;
    font-size: 25px;
 }
    .icon-gmail{
    position: absolute;
    right: 150px;
    top: 20px;
    color: #fff;
    font-size: 25px;
 }
.icon-inicio{
    position: absolute;
    right: 190px;
    top: 20px;
    color: #fff;
    font-size: 25px;
 }

/*Portada*/



.container-portada{
    width: 100%;
    height: 450px;
    position: relative;
    background-image: url(./image/fondo2.jpg);
    background-size: 130%;
    animation: movimiento 20s infinite linear alternate;  
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}


.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}


.details{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

.details h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

.details p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

.details a{
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
    margin-left: 10px;
}

.details a:hover{
    background: white;
    color: black;
}


/*Articulo*/

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

section{
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding-right: 20px;
}

section h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

section hr{
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, black, #0672d0);
    margin-top: 10px;
    margin-left: 10px;
}

section p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 10px;
}

@media screen and (max-width: 500px){
    .details p{
        font-size: 18px;
    }
}
/* Footer */

footer {
    background: #2c3e50;
    height: auto;
}

.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    margin: 10px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 100px;
}

form {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 46%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    background: rgba(37, 37, 33, .7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
    display: block;
    width: 100%;
    max-width: 98%;
    min-width: 98%;
    max-height: 180px;
    min-height: 180px;
    background: rgba(37, 37, 33, .7);
    padding: 10px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    margin-bottom: 5px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgba(37, 37, 33, .7);
    width: 96px;
}
.contadorvisitas{
    position: relative;
    right: -132px;
 }